{% extends 'jobs/base.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}

<div>
{% for categories in category_list %}
    <p><a href="{% url 'category_job_list' pk=categories.pk %}">{{categories.name}}</a></p>
    {% for all in job %}
        {% if categories == all.jobcategory %}
             <ul>
                 <li><b>{{all.position}}</b>
                     <h6>{{all.organisation}}</h6>
                     <h6>{{all.location}}</h6>
                     <h6>{{all.keyskills}}</h6>
                     <h6>{{all.summary}}</h6>
                 </li>

             </ul>
        {% endif %}
    {% endfor %}
{% endfor %}


</div>
    {% endblock %}